In [14]:
import pandas as pd

In [15]:
old_cars = pd.read_csv('old_cars.csv')
new_cars = pd.read_csv('new_cars.csv')

In [16]:
old_cars.head()

# drop the first column
old_cars.drop(old_cars.columns[0], axis=1, inplace=True)

old_cars.head()

,Brand,Model,Body,Color,Year,Fuel,Kilometers,Engine,Trasmission,Price,Gov
0,Hyundai,Accent,Sedan,Black,2007,Benzine,140000 to 159999,1600 CC,Automatic,140.0,Giza
1,Hyundai,Accent,Sedan,Silver,2005,Benzine,180000 to 199999,1000 - 1300 CC,Manual,78.0,Qena
2,Hyundai,Accent,Sedan,Gray,1999,Benzine,140000 to 159999,1400 - 1500 CC,Manual,70.0,Giza
3,Hyundai,Accent,Sedan,Blue- Navy Blue,2009,Benzine,140000 to 159999,1600 CC,Automatic,150.0,Cairo
4,Hyundai,Accent,Sedan,Silver,2000,Benzine,10000 to 19999,1000 - 1300 CC,Manual,75.0,Giza

In [17]:
new_cars.head()

,Brand,Model,Color,Year,Fuel,Kilometers,Trasmission,Price,Gov
0,BMW,525,Black,2001.0,gas,"255,000 Km",automatic,"380,000 EGP",Heliopolis
1,Opel,Astra,Bronze,2015.0,gas,"130,000 Km",automatic,"480,000 EGP",Cairo
2,Chevrolet,Optra,Dark blue,2022.0,gas,"50,000 Km",automatic,"460,000 EGP",Cairo
3,Mitsubishi,Lancer Puma,Black,2009.0,gas,"165,000 Km",automatic,"295,000 EGP",Alexandria
4,Mercedes,E 320,Cyan,2004.0,gas,"300,000 Km",automatic,"580,000 EGP",Nasr city

In [18]:
# merge the two dataframes with new column 'new' to indicate if the car is new or not

old_cars['new'] = 0
new_cars['new'] = 1

cars = pd.concat([old_cars, new_cars], ignore_index=True)

cars.head()

,Brand,Model,Body,Color,Year,Fuel,Kilometers,Engine,Trasmission,Price,Gov,new
0,Hyundai,Accent,Sedan,Black,2007.0,Benzine,140000 to 159999,1600 CC,Automatic,140.0,Giza,0
1,Hyundai,Accent,Sedan,Silver,2005.0,Benzine,180000 to 199999,1000 - 1300 CC,Manual,78.0,Qena,0
2,Hyundai,Accent,Sedan,Gray,1999.0,Benzine,140000 to 159999,1400 - 1500 CC,Manual,70.0,Giza,0
3,Hyundai,Accent,Sedan,Blue- Navy Blue,2009.0,Benzine,140000 to 159999,1600 CC,Automatic,150.0,Cairo,0
4,Hyundai,Accent,Sedan,Silver,2000.0,Benzine,10000 to 19999,1000 - 1300 CC,Manual,75.0,Giza,0

In [19]:
cars.count()

Brand          31900
Model          31900
Body           14741
Color          31900
Year           31898
Fuel           31900
Kilometers     31900
Engine         14741
Trasmission    31900
Price          31900
Gov            31900
new            31900
dtype: int64

In [20]:
# save the dataframe to a csv file
cars.to_csv('merged_cars.csv', index=False)